.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #444f6183;
}
.about-img {
  width: 200px;
}
.about-detail {
  font-weight: 300;
  font-size: 22px;
  margin-bottom: 30px;
  text-align: left;
}
.about-right {
  text-align: left;
  font-size: 20px;
}
