.contact-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: #474747; */
  border-radius: 20px;
}
.contact-img img {
  width: 100%;
}
.contact {
  background-color: #1d304d3f;
}
.contact-form {
  text-align: left;
}
.btn-book {
  background-color: orange;
  border: 0;
  color: white;
  padding: 5px 20px;
  transition: 0.2s;
  border: 2px solid orange;
}
.btn-book:hover {
  background-color: rgba(255, 166, 0, 0.473);
}
