.banner2-container {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images/banner-laptop.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-info h1 {
  text-transform: uppercase;
}
.typed-text {
  color: white;
  font-size: 30px;
  font-weight: 300;
}

.frofile-img {
  width: 200px;
  border: 3px solid white;
  border-radius: 50%;
}

.social-link {
  margin-top: 40px;
}
.social-link a:hover {
  background-color: orange;
  color: beige;
  border: 1px solid beige;
}
.social-link a {
  text-decoration: none;
  color: beige;
  padding: 5px 15px;
  border: 1px solid orange;
  border-radius: 50px;
  margin: 10px;
}

.resume-btn {
  background-color: transparent;
  padding: 10px 15px;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid orange;
  margin-top: 20px;
}
.resume-btn a {
  text-decoration: none;
  color: beige;
}
.resume-btn a:hover {
  color: beige;
}
.resume-btn:hover {
  background-color: orange;
  border: 1px solid beige;
}
